/*
 * 蓝牙小键盘 - devicetree overlay（对齐参考工程 keyboard）
 *
 * 包含：
 *   - EC11 编码器（硬件 QDEC：qdec0，A=P0.10 B=P1.06）
 *   - IP5306 PMIC（I2C1，地址 0x75，PPI/GPIOTE 硬件保活）
 *   - 电池电压（voltage-divider 传感器，AIN7 / P0.31，BAT_ADC_EN=P0.09）
 *   - NFC 引脚释放为 GPIO
 */

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>
#include <zephyr/dt-bindings/adc/adc.h>
#include <zephyr/dt-bindings/adc/nrf-adc.h>
#include <zephyr/dt-bindings/led/led.h>

/ {
	/* 三模切换拨档：AIN5 = P0.29（E73 引脚8），SK-13D07-4 三档分压 0/1.65/3.3V */
	zephyr,user {
		io-channels = <&adc 5>;
	};

	/* USB HID：键盘（NKRO/Boot）+ Consumer */
	hid_kbd: hid_kbd {
		compatible = "zephyr,hid-device";
		label = "HID_KBD";
		protocol-code = "keyboard";
		in-report-size = <29>;
		out-report-size = <29>;
		in-polling-period-us = <1000>;
		out-polling-period-us = <1000>;
	};

	hid_consumer: hid_consumer {
		compatible = "zephyr,hid-device";
		label = "HID_CONSUMER";
		protocol-code = "none";
		in-report-size = <2>;
		in-polling-period-us = <1000>;
	};

	/* WS2812 灯带别名（用于 led_strip.c 获取设备） */
	aliases {
		led-strip = &ws2812;
	};

	/* WS2812 供电控制（gpio-leds 方式，避免 regulator-fixed 无宏坑） */
	rgb_pwr_en: rgb-pwr-en {
		compatible = "gpio-leds";
		rgb_pwr: rgb_pwr {
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
		};
	};

	/* 电池电压分压采样（voltage-divider 传感器驱动）：
	 * R6(100k) + R8(100k) -> 采中间点，倍率为 full/output = 2
	 * BAT_ADC_EN = P0.09（NF1 释放为 GPIO），高有效使能分压网络
	 */
	vbatt: vbatt {
		compatible = "voltage-divider";
		io-channels = <&adc 7>;
		output-ohms = <100000>;
		full-ohms = <200000>;
		power-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
		power-on-sample-delay-us = <15000>;
	};
};

&uicr {
	nfct-pins-as-gpios;
};

&pinctrl {
	i2c1_default: i2c1_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 0)>,
				<NRF_PSEL(TWIM_SCL, 0, 24)>;
		};
	};

	i2c1_sleep: i2c1_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 0)>,
				<NRF_PSEL(TWIM_SCL, 0, 24)>;
			low-power-enable;
		};
	};

	qdec_default: qdec_default {
		group1 {
			psels = <NRF_PSEL(QDEC_A, 0, 10)>,
				<NRF_PSEL(QDEC_B, 1, 6)>;
			bias-pull-up;
		};
	};

	qdec_sleep: qdec_sleep {
		group1 {
			psels = <NRF_PSEL(QDEC_A, 0, 10)>,
				<NRF_PSEL(QDEC_B, 1, 6)>;
			low-power-enable;
		};
		};

	spi3_default: spi3_default {
		group1 {
			psels = <NRF_PSEL(SPIM_MOSI, 0, 20)>,
				<NRF_PSEL(SPIM_SCK,  0, 17)>;
		};
	};

	spi3_sleep: spi3_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_MOSI, 0, 20)>,
				<NRF_PSEL(SPIM_SCK,  0, 17)>;
			low-power-enable;
		};
	};
};

&i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	clock-frequency = <100000>;
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";

	ip5306: ip5306@75 {
		compatible = "injoinic,ip5306";
		reg = <0x75>;
		wakeup-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
		keep-alive-interval-ms = <15000>;
		pulse-width-ms = <50>;
	};
};

&spi3 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	pinctrl-names = "default", "sleep";

	ws2812: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		reg = <0>;
		spi-max-frequency = <6400000>;
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
		chain-length = <17>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
	};
};

&qdec0 {
	led-pre = <0>;
	steps = <80>;
	nordic,period = "SAMPLEPER_2048US";
	pinctrl-0 = <&qdec_default>;
	pinctrl-1 = <&qdec_sleep>;
	pinctrl-names = "default", "sleep";
	status = "okay";
};

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	/* 三模切换：AIN5 = P0.29 */
	channel@5 {
		reg = <5>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN5>;
		zephyr,resolution = <14>;
	};

	channel@7 {
		reg = <7>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN7>;
		zephyr,resolution = <14>;
	};
};

&usbd {
	status = "okay";

	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};
